*{
  --green-gradient:  linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  --color-ash-gray: #C1C5B1;
  --color-jet-black: #010101;
  --color-cultured-white: #F5F5F6;
  --color-black--01: #191924;
  
}
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.content {
  overflow: auto;
  grid-column: 3/13;
  grid-row: 2/13;
  width: 100%;
  margin: 0 auto;
}


.pointer{
  cursor: pointer;
}

.avatar-lg {
  height: 15.5rem;
  width: 15.5rem;
}

a:-webkit-any-link {
  text-decoration: none;
}
.gap-1{
  gap:1rem
}
.gap-2{
  gap:2rem
}
.gap-3{
  gap:3rem
}