body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black-04);
  color: var(--color-white-00);
  overflow: hidden;
}
.alignItem-Stretch{
  align-items: stretch;
}
.result-container{
  margin: 1rem auto 1rem auto;
  width: 80%;
}
.mx-auto{
  /* margin: 0 auto 0 auto */
  margin-left: auto;
  margin-right: auto;

}